funds1
book
funds2
complit
friend
friends
funds4
logout
ls1
manybook
more01
mycopy
mypwd
my_pwd2
mywho
names3
ttt
who2
who3
names1
names2
MakeMore
MakeSee
more01.o
a.out
echostat
listchars
play_again
play_again2
debug_print
my_alloc_test
mypwd2
sigdemo1
hello1
str_test
strlen_test
trim
